.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px;
    border-color: black;
    border-style: solid;
    justify-content: space-around;
    background-color:rgb(120, 200, 232);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}